.full-preview
  .container
    h2.title_big.text_center Full Preview
    .tabs
      .tabs__controls  
        .tabs__control.active(data-target='#container_1')
          p Posts
        .tabs__control(data-target='#container_2')
          p Stories 
      .tabs__container#container_1 
        .full-preview__labels
          p Pack 1 
          p Typist
        .flex-container
          - var posts = Array.from(Array(30+1).keys()).slice(1)
          each val in posts
            .flex-container__item
              .full-preview__post
                - var image_name = 'Image' + val
                - var path_name = 'images/fullPreview/posts/pack1/'
                include picture
        .full-preview__labels
          p Pack 2 
          p Serpent
        .flex-container
          - var posts = Array.from(Array(30+1).keys()).slice(1)
          each val in posts
            .flex-container__item
              .full-preview__post
                - var image_name = 'Image' + val
                - var path_name = 'images/fullPreview/posts/pack2/'
                include picture
        .full-preview__labels
          p Pack 3
          p Rumor
        .flex-container
          - var posts = Array.from(Array(30+1).keys()).slice(1)
          each val in posts
            .flex-container__item
              .full-preview__post
                - var image_name = 'Image' + val
                - var path_name = 'images/fullPreview/posts/pack3/'
                include picture
        .full-preview__labels
          p Pack 4
          p Electro
        .flex-container
          - var posts = Array.from(Array(30+1).keys()).slice(1)
          each val in posts
            .flex-container__item
              .full-preview__post
                - var image_name = 'Image' + val
                - var path_name = 'images/fullPreview/posts/pack4/'
                include picture              
      .tabs__container#container_2(style='display: none;')
        .full-preview__labels
          p Pack 1 
          p Typist
        .flex-container
          - var posts = Array.from(Array(30+1).keys()).slice(1)
          each val in posts
            .flex-container__item
              .full-preview__story
                - var image_name = 'Image' + val
                - var path_name = 'images/fullPreview/stories/pack1/'
                include picture
        .full-preview__labels
          p Pack 2 
          p Serpent
        .flex-container
          - var posts = Array.from(Array(30+1).keys()).slice(1)
          each val in posts
            .flex-container__item
              .full-preview__story
                - var image_name = 'Image' + val
                - var path_name = 'images/fullPreview/stories/pack2/'
                include picture
        .full-preview__labels
          p Pack 3
          p Rumor
        .flex-container
          - var posts = Array.from(Array(30+1).keys()).slice(1)
          each val in posts
            .flex-container__item
              .full-preview__story
                - var image_name = 'Image' + val
                - var path_name = 'images/fullPreview/stories/pack3/'
                include picture
        .full-preview__labels
          p Pack 4
          p Electro
        .flex-container
          - var posts = Array.from(Array(30+1).keys()).slice(1)
          each val in posts
            .flex-container__item
              .full-preview__story
                - var image_name = 'Image' + val
                - var path_name = 'images/fullPreview/stories/pack4/'
                include picture
