.get-early-access
  .container
    .two-colls
      .two-colls__item
        - var cardTitle = 'Save time with easy and fast code editing'
        - var cardSubTitle = 'HTML code editing is super easy even if you have no development skills. Everyone can cope with it now.';
        - var cardTag = 'Clear code'
        - var cardImage = 'Image1'
        include mobile-card
      .two-colls__item
        - var cardTitle = 'Want to turn your email to dark mode?'
        - var cardSubTitle = 'Use an adaptive color theme that applies colors according to your browser settings. Or just pick the dark theme.';
        - var cardTag = 'dark theme'
         - var cardImage = 'Image2'
         - var mobile_card_class = 'mobile-card_black'
        include mobile-card  
