.hero
  .container_thin
    .two-colls
      .two-colls__item(style='display: flex; flex-direction: column;')
        .vertically_centered(style='flex-grow: 1;')
          h1.title_big New style for your Instagram in one bundle
          p.hero__subtitle Turn your Instagram profile to a brand new side with ready-to-use posts and stories
          .hero__button-group 
            a.button(href="#buy") Get 240 templates 
            include ../svg/tools
        .hero__footer-text 4 packs, 120 posts, 120 stories
      .two-colls__item.overflow-hidden
        .masonry
          .masonry__col
            each val in [1, 2, 3]
              .masonry__item
                - var image_name = 'Image' + val
                - var path_name = 'images/hero/'
                include picture_nolazy
          .masonry__col
            each val in [4, 5, 6]
              .masonry__item
                - var image_name = 'Image' + val
                - var path_name = 'images/hero/'
                include picture_nolazy
          .masonry__col
            each val in [7, 8, 9]
              .masonry__item
                - var image_name = 'Image' + val
                - var path_name = 'images/hero/'
                include picture_nolazy            

