//- Open Graph / Facebook
meta(property='og:type ' content='website')
meta(property='og:url ' content='https://socialbundle.craftwork.design/')
meta(property='og:site_name' content='Social Templates Bundle')
meta(property='og:title ' content='Social Templates Bundle')
meta(property='og:description' content='240 posts & stories in collected 4 trendy styles to improve your Instagram profile easily.')
meta(property='og:image' content='public/images/OpenGraph.png')
//- Open Graph / Facebook
//- Twitter
meta(property='twitter:card ' content='summary_large_image')
meta(property='twitter:type ' content='website')
meta(property='twitter:url ' content='https://socialbundle.craftwork.design/')
meta(property='twitter:site_name' content='Social Templates Bundle')
meta(property='twitter:title ' content='Social Templates Bundle')
meta(property='twitter:description' content='240 posts & stories in collected 4 trendy styles to improve your Instagram profile easily.')
meta(property='twitter:image' content='public/images/OpenGraph.png')
//- Twitter
