doctype html
html(lang='en')
  - var pageTitle = 'Social Templates Bundle'
  include partials/head
  body
    include partials/header
    include partials/hero
    include partials/mobile-pics
    include partials/desktop-pics
    include partials/full-preview
    include partials/buy
    include partials/footer
